body {
  color: rgb(48, 47, 36);
  font-family: sans-serif;
  margin: 3rem;

  text-align: center;
}

section {
  background-color: rgb(249, 252, 223);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 3rem auto;
  max-width: 50rem;
  padding: 2rem;
  width: 95%;
}

button {
  background-color: rgb(221, 217, 5);
  border: 1px solid rgb(221, 217, 5);
  border-radius: 4px;
  color: rgb(24, 24, 11);
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
}

button:hover {
  background-color: rgb(221, 199, 5);
  border-color: rgb(221, 199, 5);
}

.blue {
  background-color: blue;
}
